@model DaysContainer.Models.Day

@{
    ViewBag.Title = "Szczegóły";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Dzień</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Godziny)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Godziny)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Obecnosc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obecnosc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ocena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ocena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miejsce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miejsce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prowadzacy)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.Prowadzacy)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.Stopien_zadowolenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stopien_zadowolenia)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Powrót", "Index")
</p>
